# Core data
pandas
numpy
pyarrow
scipy

# Machine learning
scikit-learn
torch
pytorch-lightning
xgboost

# Database
psycopg2-binary
sqlalchemy

# Visualisation
matplotlib
seaborn

# Utilities
tqdm

# Jupyter
ipykernel
notebook
